<!DOCTYPE html>
<html lang="es" ng-app="traingingym" ng-controller="AppCtrl as app" ng-cloak>
	<head>
		<base href="http://localhost:8080/trainingym-frontend/">
		
		<!--ANGULAR-->
		<script src="modules/angular/angular.js"></script>
		<script src="modules/angular-route/angular-route.js"></script>
		<script src="modules/angular-animate/angular-animate.min.js"></script>
		<script src="modules/angular-i18n/angular-locale_es-es.js"></script>
		<script src="modules/angular-cookies/angular-cookies.js"></script>
	

		<!--powerbi-->
		<script src="modules/powerbi-client/dist/powerbi.js"></script>

		<!--APP FILES-->
		<script src="app/controllers.js"></script>
		<script src="app/app.js"></script>
	</head>
	<body>
		<div class="ll" style="height: 600px" ng-if="app.token" powerbi-resource="app.dash" token="app.token"></div>
	</body>
</html>
















