.ng-dialog-mask{
	position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 3;
    overflow: auto;
    transition: 0.3s ease-out all;
}
.ng-dialog{
    top: 0;
    float: left;
    background: white;
    position: relative;
    transition: 0.7s ease-in-out-all;
	max-width:100%;
    width: 600px;
	overflow:hidden;
}
.ng-dialog .ng-dialog-close, .ng-dialog .maximize, .ng-dialog .minimize{
    position: relative;
    cursor: pointer;
    z-index: 1;
    font-weight: 100;
    float: right;
    right: 17px;
    top: 18px;
    background: transparent;
    font-size: 23px;
    color: #73879C;
}
.ng-dialog .save{
	right:initial;
}
.ng-dialog .maximize{
	right: 32px;
	top: 10px;
}
.ng-dialog .minimize{
	right: 32px;
	top: 10px
}
.ng-dialog.maximized{
	position:fixed;
	width:100% !important; 
	height:100% !important; 
	top:0px;
	left:0px;
	border-radius:0px;
	margin:0px !important;
}
.ng-dialog > .titleLayer{
    border-bottom: 2px solid #E6E9ED;
    /* float: left; */
    /* width: 100%; */
    overflow: hidden;
}
.ng-dialog > .titleLayer h1{
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 23px;
    font-weight: 300;
    color: #73879C;
    padding: 19px;
    width: calc(100% - 49px);
    box-sizing: border-box;
}
.ng-dialog > .titleLayer > .steps {
    margin: 3px 13px;
    float: left;
}
.ng-dialog > .titleLayer > .steps > .step{
	float: left;
	margin: 7px 0;
}
.ng-dialog > .titleLayer > .steps > .step:after{
	content: "\2a20";
    margin: 0px 5px;
}
.ng-dialog > .titleLayer > .steps > .step:last-child:after{
	content:"";
}


.ng-dialog > .contentLayer{
    float: left;
    width: 100%;
    box-sizing: border-box;
    /*color: #777;*/
    line-height: 1.3;
    font-size: 15px;
    height: 100%;
	padding: 20px;
    padding-top: 0;
	overflow: auto;
}
.ng-dialog.hasTitleLayer > .contentLayer, .ng-dialog.hasButtonLayer > .contentLayer{
	height:calc(100% - 53px);
}
.ng-dialog.hasButtonLayer.hasTitleLayer > .contentLayer{
	height:calc(100% - 106px);
}

.ng-dialog > .buttonLayer{
	float: left;
	width: 100%;
	padding: 13px;
	box-sizing: border-box;
	height:53px;
}
.ng-dialog > .buttonLayer .ng-dialog-button {
    float: right;
	width:auto;
	padding:7px 13px;
	font-size:13px;
	box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.23);
	margin-left:13px;
}
.ng-dialog > .buttonLayer .ng-dialog-button:last-child{
	margin-left:0px;
}

.ng-dialog-mask[data-type='cover'] {
	position: absolute !important;
	background-color: transparent;
	transition:0.35s ease-out all;
	box-shadow: 1px 1px 1px #777;
	overflow-x:hidden;
}
.ng-dialog-mask[data-type='cover'] > .ng-dialog{
	left: 100%;
	width:100%;
    background-color: white;
    box-shadow: 1px 1px 1px #ccc;
    border-radius: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    overflow: auto;
	transition:0.35s ease-out all;
}
.ng-dialog-mask[data-type='cover'] > .ng-dialog > .buttonLayer{
	position: absolute;
    bottom: 0px;
    padding: 13px;
}
.ng-dialog-mask[data-type='cover']:after{
    content: "";
    position: fixed;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
	margin-left: -100%;
    margin-top: -100%;
    padding: 100%;
}
.ng-dialog-mask[data-type='cover'] > .ng-dialog  .titleLayer{
	border-radius: 0px;
    top: 0px;
}
.ng-dialog-mask[data-type='cover'] > .ng-dialog > .contentLayer{
	height: 100%;
    overflow: auto;
    padding: 0px
}
.ng-dialog-mask[data-type='cover'] > .ng-dialog.adapt > .contentLayer{
    padding:20px;
    padding-top:0;
}
.ng-dialog-mask[data-type='cover'] > .ng-dialog.hasTitleLayer > .contentLayer, .ng-dialog-mask[data-type='cover'] > .ng-dialog.hasButtonLayer > .contentLayer{
    height: calc(100% - 75px);
}
.ng-dialog-mask[data-type='cover'] > .ng-dialog.hasButtonLayer.hasTitleLayer .contentLayer{
	height:calc(100% - 106px);
}
.ng-dialog-mask[data-type='dialog'] > .ng-dialog{
	background-color: white;
	border-radius:0px;
	/*transform:scale(0);*/
	margin-top:-31px;
	opacity:0;
	
	transition:.33s ease-in-out opacity, .33s ease-in-out margin;
}
.ng-dialog.moving{
	transition:none !important;
}
.ng-dialog[moveable='true'] .titleLayer{
	cursor:move;
}



.ng-dialog-mask[data-type='replace'] {
	position: absolute !important;
	background-color: transparent;
	transition:0.35s ease-out all;
	box-shadow: 1px 1px 1px #777;
	overflow-x:hidden;
}
.ng-dialog-mask[data-type='replace'] > .ng-dialog{
	transform:opacity(1);
	-webkit-animation: scale 0.7s ease-in-out;
    -moz-animation: scale 0.7s ease-in-out;
    animation: scale 0.7s ease-in-out;
	width:100% !important;
    background-color: white;
    box-shadow: 1px 1px 1px #ccc;
    border-radius: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    overflow: auto;
	transition:0.35s ease-out all;
}
.ng-dialog-mask[data-type='replace'] > .ng-dialog > .buttonLayer{
	position: absolute;
    bottom: 0px;
    padding: 13px;
}
.ng-dialog-mask[data-type='replace'] > .ng-dialog  .titleLayer{
	border-radius: 0px;
    top: 0px;
}
.ng-dialog-mask[data-type='replace'] > .ng-dialog > .contentLayer{
	height: 100%;
    overflow: auto;
    padding: 0px
}
.ng-dialog-mask[data-type='replace'] > .ng-dialog.hasTitleLayer > .contentLayer, .ng-dialog-mask[data-type='replace'] > .ng-dialog.hasButtonLayer > .contentLayer{
	height:calc(100% - 53px);
}
.ng-dialog-mask[data-type='replace'] > .ng-dialog.hasButtonLayer.hasTitleLayer .contentLayer{
	height:calc(100% - 106px);
}
@keyframes scale {
  0% { 
    transform: scale(0.9);
    opacity: 0;
    }

  50% {
    transform: scale(1.01);
    opacity: 0.5;
    }

  100% { 
    transform: scale(1);
    opacity: 1;
  }
}


.ng-dialog-mask[data-type='accordion'] {
    position: relative !important;
    width: 100%;
    height: 0px;
	overflow: hidden;
}
.ng-dialog-mask[data-type='accordion']:after{
    content: "";
    position: fixed;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
	margin-left: -100%;
    margin-top: -100%;
    padding: 100%;
}
.ng-dialog-mask[data-type='accordion']:last-child > .ng-dialog{
	border-bottom:1px solid #ccc;
}
.ng-dialog-mask[data-type='accordion'] > .ng-dialog{
    height: auto;
    box-sizing: border-box;
	width: 100%;
	background: #f0f0f0;
}
.ng-dialog-mask[data-type='accordion'] > .ng-dialog > .titleLayer{
	display:none;
}
.ng-dialog-mask[data-type='accordion'] > .ng-dialog > .titleLayer{
	padding:0px;
}
.ng-dialog-mask[data-type='accordion'] > .ng-dialog > .contentLayer{
    padding: 0px;
	overflow: hidden;
}
.ng-dialog-mask[data-type='accordion'] > .ng-dialog > .buttonLayer{
	position: relative;
    bottom: 0px;
    padding: 13px;
}



.ng-dialog-mask[data-type='toast']{
	pointer-events: none;
    position: absolute !important;
    background-color: transparent;
    transition: 0.35s ease-out opacity;
    overflow: auto;
    left: calc(50% - 113px);
    width: 226px;
}
.ng-dialog-mask[data-type='toast'] >.ng-dialog{
box-sizing: border-box;
    right: 13px;
    top: initial;
    left: 13px;
    height: auto;
    position: absolute;
    bottom: 13px;
    color: #F0F0F0;
    /* font-family: Calibri; */
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    width: auto;
    opacity: 0;
    transform: scale(0);
    transition: 0.3s ease-in-out opacity;
    border: 1px solid #777;
}
.ng-dialog-mask[data-type='toast'] >.ng-dialog > .contentLayer{
	color:#F0F0F0;
}


.ng-dialog-mask[data-type='overlay'] {
	position: absolute !important;
	background-color: transparent;
	transition:0.35s ease-out all;
    overflow: visible;
}
.ng-dialog-mask[data-type='overlay'] >.ng-dialog{
	top:initial,
	width: auto;
    opacity: 0;
    border: 2px solid #490f41;
    position: absolute;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 24px -1px #823D74;
    -moz-box-shadow: 0px 0px 24px -1px #823D74;
    box-shadow: 2px 1px 14px 0px rgba(130, 61, 116, 0.55);
    transition: 0.3s ease-in-out opacity;
}




.step{
    color: white;
    font-size: 11px;
    line-height: 18px;
    float: left;
    margin: 9px 11px;
}




