<div class = 'ac-input-wrapper ac-input--image-wrapper' ng-style = '{width:width + "px", height:height+"px"}'>
	<input type = 'file' style = 'display:none;'>
	<div class = 'ac-image-wrapper ac-ripple'>
		<img ng-show = 'value' class = 'thumb' ng-src = '{{value}}'>
	</div>
	<div class = 'ac-placeholder' ng-style = '{top:height/2 - (height/7)/2 + "px", opacity:value.length > 0 ? 0:1}'>{{placeholder}}</div>
	<span class = 'ac-error' ng-style = '{top:height + "px ", padding: (height/7) / (PHI*PHI*PHI*PHI) + "px " + (height/7) / (PHI*PHI*PHI) + "px"}'>{{err}}</span><ng-transclude></ng-transclude>
	
	
	<!--
	<div class = 'ac-input-wrapper ac-input--image-wrapper' ng-style = '{width:width + "px", height:height + (height/7)*PHI/2 + "px", fontSize:height / 7 + "px"}'>
		<input type = 'file' style = 'display:none;'>
		<div class = 'ac-image-wrapper ac-ripple' ng-style = '{width:width + "px", height:height + "px"}'>
			<img ng-show = 'value' class = 'thumb' ng-src = '{{value}}'>
		</div>
		<div class = 'ac-placeholder' ng-style = '{top:height/2 - (height/7)/2 + "px", opacity:value.length > 0 ? 0:1}'>{{placeholder}}</div>
		<span class = 'ac-error' ng-style = '{top:height + "px ", padding: (height/7) / (PHI*PHI*PHI*PHI) + "px " + (height/7) / (PHI*PHI*PHI) + "px"}'>{{err}}</span>
	</div>
	-->
</div>