<div class = 'ac-input-wrapper' ng-style = '{fontSize:size+"px", height:size*2+ size*PHI + "px"}' ng-class = '{disabled:disabled}'>
	<input ng-readonly = "disabled" type="text" ng-style = '{top:inputBounds[1], height:inputBounds[3], paddingRight:inputPad[1], paddingLeft:inputPad[3]}' value = '{{value}}'>
	<span class = 'ac-placeholder' ng-style = '{"top":value.toString().length > 0 || type == "date" || type == "time" ? "0px":inputBounds[1], paddingRight:inputPad[1], paddingLeft:inputPad[3], paddingTop:size / (PHI*2) + "px"}' ng-class = '{active: value.toString().length > 0 || type == "date" || type == "time", "ac-remove":removePlaceholders}'>{{placeholder}}</span>
	<span class = 'ac-error' ng-style = '{top:size + size*PHI + "px ", padding: size / (PHI*PHI*PHI*PHI) + "px " + size / (PHI*PHI*PHI) + "px"}'>{{err}}</span>
</div>