<div class = 'ac-input-wrapper ac-input--file-wrapper' ng-style = '{fontSize:size+"px", height:size*2+ size*PHI + "px"}'>
	<input type = 'file' style = 'display:none;'>
	<input type = 'text' readonly ng-style = '{top:size/2+"px", padding:size / (PHI*PHI) + "px " + size / (PHI*PHI*PHI) + "px", paddingTop:size / PHI + "px", paddingLeft:size*11 + size / (PHI*PHI) +"px", paddingRight:size*PHI +"px", height:size*2+"px"}' 
		value = '{{value}}'>
	<a class = 'ac-action ac-ripple' size = 'size' ng-style = '{top:size / (PHI*PHI) +"px", width:size*11+"px"}'>Seleccionar archivo</a>
	<span class = 'ac-error' ng-style = '{top:size + size*PHI + "px", padding: size / (PHI*PHI*PHI*PHI) + "px" + size / (PHI*PHI*PHI) + "px"}'>{{err}}</span>
	<a ng-if = 'value' ng-if="value" target="_blank" href="{{value}}" ng-style = '{top:size / (PHI*PHI / 2) + "px", fontSize:size+"px"}'>&#x1f517;</a>
</div>