<div class = 'ac-input--date-dropdown' ng-style = '{fontSize:ac.size + "px"}'>
	<div class = 'ac-header'>
		<table>
			<thead>
				<tr>
					<th class="ac-cell" ng-repeat = 'day in ac.months[0].weeks[0].weekdays' aria-label = '{{day.date | date:"EEE"}}'>
						<span class = "ac-weekday">{{day.date | date:"EEE"}}</span>
					</th>
				</tr>
			</thead>
		</table>
	</div>
	
	<div class = 'ac-wrapper'>
		<table>
			<tbody ng-repeat = 'month in ac.months' role="rowgroup" class = 'ac-month' timestamp = '{{month.timestamp}}'>
				<tr role="row" aria-label="{{month.name}}">
					<td class="ac-cell" colspan="7">
						<span class = 'ac-month-name'>{{month.name}}</span>
					</td>
				</tr>
		
				<tr role="row" aria-label="Week $index + 1" ng-repeat = 'week in month.weeks'>
					<td class="ac-cell" tabindex="-1" role="gridcell" aria-label='{{day.aria}}' ng-repeat = 'day in week.weekdays'>
						<span class = "ac-day" ng-click = 'ac.select(day.date)' ng-class = '{"ac-today":day.isToday, "ac-disabled":day.notInMonth, "ac-selected":day.timestamp == ac.timestamp}' timestamp = '{{day.timestamp}}'>{{day.day}}</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>	
</div>