<div class = 'ac-input-wrapper ac-input--checkbox-wrapper' ng-style = '{fontSize:size+"px"}'>
	<div class = 'ac-toggler-wrapper'  ng-click = 'toggle()' ng-class = '{disabled:disabled}'>
		<span class = 'ac-toggler' ng-class = '{toggled : isTrue(value)}' ng-style = '{height:size -1 +"px", width: size -1 +"px", top: "1px"}'></span>
		<ng-transclude style = 'display:inline-block;' ng-style = '{height:size -1 +"px", paddingLeft:size / (PHI*PHI) +"px"}' class = 'ac-text'></ng-transclude>
	</div>
</div>