<div class = 'ac-select-wrapper'>
	<input type = 'text' ng-model = 'vm.text' ng-readonly = 'vm.type != "search"'>
	<span class = 'ac-placeholder' ng-class = '{active: vm.text.length > 0}'>{{vm.placeholder}}</span>
	<span class = 'ac-error'>{{vm.err}}</span>
	<span ng-show = '!vm.searcher.isSearching' class = 'ac-arrow'>&#9662;</span>
	<img ng-show = 'vm.searcher.isSearching' class = 'ac-spinner'>
</div>