<div class = 'ac-select-dropdown'>
	<ul class = 'ac-select--dropdown-wrapper'>
	
		<!--<li class = 'ac-ripple ac-placeholder' ng-style = '{padding:size + "px"+" " + size + "px"}' ng-click = 'select(-1)' ng-if = 'placeholder' ng-class = '{highlight:cursorIndex == -1}'>{{placeholder}}</li>-->
		<li class = 'ac-ripple' ng-style = '{padding:vm.size + "px"+" " + vm.size + "px"}' ng-repeat = 'item in vm.searcher.results track by $index' ng-click = 'vm.select($index)' ng-class = '{highlight:vm.cursorIndex == $index}'>
			<div class = 'ac-input' type = 'checkbox' size = 'vm.size' style = 'pointer-events:none' ng-model = 'vm.boolMap[$index]'>{{vm.displayMap[$index]}}</div>	
		</li>
	</ul>
</div>