<div class="md-textarea">
	<textarea>{{model}}</textarea>
	<label class = "placeholder" ng-class = "{'active': model && model.toString().length > 0}">{{placeholder}}</label>
	<span class = 'ac-error'>{{err}}</span>
</div>