/***BUTTON***/
.ac-button{
	position: relative;
	border: none;
	outline:none;
	cursor: pointer;
	overflow:hidden;
    -webkit-appearance: button;
}


/***RIPPLE***/
.ac-ripple, .ac-round-ripple{
	-webkit-transform: rotate(0.000001deg);
	position: relative;
	display:inline-block;
}
.ac-ripple{
	overflow:hidden;
}
.ac-ripple .ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white; 
  animation: ripple-animation 2s forwards;
  pointer-events:none;
}
.ac-round-ripple .ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white; 
  animation: round-ripple-animation 0.4s forwards;
  pointer-events:none;
}
@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}
@keyframes round-ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(3);
      opacity: 0;
    }
}




/***TABSET***/
.ac-tabset{
	display: block;
    height: 100%;
	position: relative;
}
.ac-tabset ul.tablist{
    width: 100%;
    display: inline-block;
    display: -webkit-box;
    border-bottom: 1px solid #a1a9b1;
    height: 49px;
    overflow: visible;
    box-shadow: 0px 1px 3px #a1a9b1;
    box-sizing: border-box;
}
.ac-tabset ul.tablist > li {
    float: left;
    list-style: none;
    height: 49px;
	transition:0.3s step-end border-bottom;
	position: relative;
}
.ac-tabset ul.tablist > li.active{
	/*border-bottom: 2px solid #ff5252;*/
}
.ac-tabset ul.tablist > li  a{
    height: 100%;
    line-height: 49px;
    box-sizing: border-box;
    padding: 0px 23px;
    display: block;
}
.ac-tabset .bar{
    position: absolute;
    top: 47px;
    height: 2px;
    background: rgb(255,82,82);
    transition: 0.3s ease-in-out all;
}
.ac-tabset .wrapper{
	height: calc(100% - 49px);
	transition: 0.3s ease-in-out height;
	overflow:hidden;
}
.ac-tabset .ac-tab-item{
	height:100%;
	overflow: auto;
}
.ac-tabset[resize='true'] .ac-tab-item{
	height:auto;
}


/***INPUT***/
.ac-input-wrapper{
	display:inline-block;
	font-size:15px;
    /*color: #4FA2C2;*/
	vertical-align: top;
	position: relative;
}
.ac-input-wrapper .ac-placeholder{
    position: absolute;
    left: 0px;
    width: 100%;
	color: #a1a9b1;
    pointer-events: none;
    z-index: 1;
    box-sizing: border-box;
	transition:0.3s ease-in-out all;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ac-input-wrapper .ac-placeholder.active {
	top: -50%;
	font-size: 61.8%;
}
.ac-input-wrapper .ac-error{
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    pointer-events: none;
    font-size: 61.8%;
    text-align: left;
    white-space: nowrap;
    color: #de4848;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}
.ac-input-wrapper input{
    background: transparent;
    font-size: inherit;
    color: inherit;
    transition: 0.3s ease-in-out all;
    box-sizing: border-box;
	width:100%;
    border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color:#a1a9b1;
    outline: none;
    text-overflow: ellipsis;
	float:left;
    overflow: hidden;
    white-space: nowrap;
	position: relative;
}

.ac-input-wrapper.sin_border input{
    border:none!important;
}
.ac-input.celda, .ac-select.celda{
    height: 22px!important;
    font-size: 11px!important;
}
.ac-select.celda[type="search"]{
    width: 150px;
}
.ac-select.celda .ac-arrow, .ac-select.celda .ac-spinner{
    top: 8px!important;
}
.ac-input.celda input, .ac-select.celda input{
    border-width: 1px!important;
    padding-right: 0!important;
    top:0!important;
}
.ac-input.celda input{
    padding-right: 3px!important;
    text-align: right!important;
}
.ac-input-wrapper input[type='file']{
	display:none;
}
.ac-input-wrapper.disabled{
	color:#a1a9b1;
}
.ac-input-wrapper.disabled input{
    border-style:dotted!important;
}


/***INPUT,FILE***/
.ac-input--file-wrapper {
	cursor:pointer;
}
.ac-input--file-wrapper input{
	pointer-events:none;
}
.ac-input--file-wrapper a.ac-action{
    position: absolute;
    top: 0;
    white-space: nowrap;
    left: 0;
    background-color: buttonface;
    color: buttontext;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
}
.ac-input--file-wrapper a{
	position:absolute;
	right:0px;
}


/***INPUT,CHECKBOX***/
.ac-input--checkbox-wrapper .ac-toggler-wrapper{
    box-sizing: border-box;
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.ac-toggler-wrapper.disabled{
    pointer-events: none;
    color:#a1a9b1;
}
.ac-toggler-wrapper.disabled .ac-toggler{
    pointer-events: none;
    color:#a1a9b1;
}
.ac-input--checkbox-wrapper .ac-text, .ac-input--checkbox-wrapper  .ac-text *{
	vertical-align: baseline;
    color: #616161;
}
.ac-input--checkbox-wrapper .ac-toggler{
    display: block;
    /*float: left;*/
    pointer-events: none;
    display: inline-block;
	vertical-align: baseline;
}
.ac-input--checkbox-wrapper .ac-toggler:before{
content: '';
    position: relative;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    border: 1px solid #5a5a5a;
    border-radius: 1px;
    transition: .2s;
    display: block;
    box-sizing: border-box;
}
.ac-input-wrapper .ac-toggler.toggled:before {
    top: 0px;
    left: 0px;
	width: 50%;
    height: 100%;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid #4FA2C2;
    border-bottom: 1px solid #4FA2C2;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.ac-input-wrapper  input[type='checkbox']+label+label{ margin-left:5px; }


/***INPUT,IMAGE***/
.ac-input--image-wrapper{
    display: inline-block;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
    box-sizing: content-box;
	position:relative;
	text-align: center;
    display: table-cell;
}
.ac-input--image-wrapper .ac-image-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
	transition:0.3s ease-in-out all;
}
.ac-input--image-wrapper .ac-button{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: transparent;
    box-sizing: border-box;
    width: 100%;
}
.ac-input--image-wrapper img.thumb{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.ac-input--image-wrapper .ac-image-wrapper:after{
	content:"";
	position:absolute;
	left:0; top:0;
	z-index:1;
	width:100%;
	height:100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100&0.11+0,0.31+100;White+Gloss */
	background: -moz-linear-gradient(top,  rgba(246,248,249,0.11) 0%, rgba(229,235,238,0.21) 50%, rgba(215,222,227,0.21) 51%, rgba(245,247,249,0.31) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(246,248,249,0.11) 0%,rgba(229,235,238,0.21) 50%,rgba(215,222,227,0.21) 51%,rgba(245,247,249,0.31) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(246,248,249,0.11) 0%,rgba(229,235,238,0.21) 50%,rgba(215,222,227,0.21) 51%,rgba(245,247,249,0.31) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cf6f8f9', endColorstr='#4ff5f7f9',GradientType=0 ); /* IE6-9 */
	pointer-events:none;
	color: #000;
	font-size: 0.750em;
	text-shadow: 1px 1px 0px rgba(255,255,255,.5);
	-webkit-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .2);    
	box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .2);
}


/***AC-SELECT***/
.ac-select-wrapper{
    display: inline-block;
    /*color: #4FA2C2;*/
    cursor: pointer;
    vertical-align: top;
    position: relative;
	transition:none !important;
	
	box-sizing: border-box;
	/*border:1px solid;*/
}
.ac-select-wrapper .ac-placeholder{
    position: absolute;
    left: 0px;
    width: 100%;
	color: #a1a9b1;
    pointer-events: none;
    z-index: 1;
    box-sizing: border-box;
	transition:0.3s ease-in-out all;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	font-size:inherit;
}
.ac-select-wrapper.disabled {
    pointer-events: none;
    color:#a1a9b1;
}
.ac-select-wrapper.disabled input{
    border-color: #a1a9b1;
    border-style:dotted;
}
.ac-select-wrapper .ac-placeholder.active {
	top: 0px !important;
	padding-top:0px !important;
	font-size: 61.8%;
}
.ac-select-wrapper .ac-spinner{
	position: absolute;
}
.ac-select-wrapper input{
    background: transparent;
    font-size: inherit;
    color: inherit;
    transition: 0.3s ease-in-out all;
    box-sizing: border-box;
	width:100%;
    border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color:#a1a9b1;
    outline: none;
    text-overflow: ellipsis;
	float:left;
    overflow: hidden;
    white-space: nowrap;
	/*pointer-events:none;*/
	position: relative;

	/*border:1px dotted;*/
}
.ac-select-wrapper .ac-error{
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    pointer-events: none;
    font-size: 61.8%;
    text-align: left;
    white-space: nowrap;
    color: #de4848;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}
.ac-select-wrapper .ac-arrow{
	position: absolute;
	z-index: 1;
	pointer-events: none;
	font-size: 150%;
	right: 0px;
	line-height: 0.618;
}

.ac-select-dropdown {
    background-color: #fff;
    margin: 0;
    max-height: 313px;
    opacity: 0;
    position: fixed;
    z-index: 9999999999999999999999999;
    list-style: none;
    padding: 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    pointer-events: none;
    transition: .3s ease-in-out opacity, .3s ease-in-out transform;
	transform:translateY(0px);
	font-size: 15px;
	display: block;
	overflow: hidden;
}
.ac-select--dropdown-wrapper{
	display:block;
	width:100%;
	overflow:hidden;
}
.ac-select-dropdown.visible {
    opacity: 1;
	transform: translateY(19px);
    pointer-events: all;
	overflow-y: auto;
}
.ac-select--dropdown-wrapper li{
    font-size: inherit;
    /*color: #4FA2C2;*/
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
	cursor: pointer;
	white-space:nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}
.ac-select--dropdown-wrapper li:hover, .ac-select--dropdown-wrapper li.highlight{
	background-color: #eee;
}
.ac-select--dropdown-wrapper .ac-placeholder{
	font-style: italic;
    color: rgb(204, 204, 204);
}
.ac-remove.active{
	opacity:0;
}


.ac-select--dropdown-wrapper .ac-input--checkbox-wrapper{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}
.ac-select-dropdown .ac-select-dropdown--selection-wrapper{
	
}
.ac-select-dropdown .ac-select-dropdown--selection-wrapper li{
	
}
.ac-select-dropdown .ac-select-dropdown--selection-wrapper .ac-selection{
	width: 100%;
	display: inline-block;
	border-radius: 13px;
	background: #eaeaea;
	box-sizing: border-box;
	/*
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	*/
	color: black;
	width: 100%;
    font-size: 90%;
    color: black;
}
.ac-select-dropdown .ac-select-dropdown--selection-wrapper .ac-selection--delete{
	border-radius: 100%;
	padding: 3px;
	background: #aaa;
	display: block;
	float: left;
	color: white;
	text-align: center;
	box-sizing:border-box;
	position:absolute;
	left:0px;
	top:0px;
	z-index:1;
}
.ac-select-dropdown .ac-select-dropdown--selection-wrapper .ac-selection--text{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	box-sizing:border-box;
	z-index:0;
}


/***AC-DROPDOWN***/
.ac-dropdown{
	display: inline-block;
	cursor:pointer;
}
.ac-dropdown-list {
    background-color: #fff;
    margin: 0;
    max-height: 313px;
    overflow-y: auto;
    opacity: 0;
    position: fixed;
    z-index: 9999999999999999999999999;
    list-style: none;
    padding: 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    pointer-events: none;
    transition: .3s ease-in-out opacity, .3s ease-in-out transform;
	transform:translateY(0px);
}
.ac-dropdown-list.active {
    opacity: 1;
	/*transform: translateY(19px);*/
    pointer-events: initial;
}
.ac-dropdown-list .ac-dropdown-item{
    /*
	font-size: inherit;
    color: #5A738E;
    display: block;
    line-height: 1.5;
    float: left;
	*/
    /*min-width: 100%;*/
    box-sizing: border-box;
	display: block;
	white-space: nowrap;
    /*
	cursor: pointer;
    white-space: nowrap;
	*/
}
.ac-dropdown-list.active  .ac-dropdown-item{
	width:100%;
}
.ac-dropdown-list .ac-dropdown-item:hover, .ac-dropdown .ac-dropdown-item.selected{
	background-color: #eee;
}
.ac-dropdown-list .ac-dropdown-item[selected]{
	background-color:#e1e1e1;
}


/***AC-GRID***/
ac-grid, .ac-grid{
	display: block;
}


/***AC-CAROUSEL**/
.ac-carousel{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
}
.ac-carousel-slide{
	width:100%;
	height:100%;
	left:0;
	top:0;
	position:absolute;
	/*transition:0.3s ease-in-out all*/
}
.ac-carousel--control-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	pointer-events: none;
}
.ac-carousel--bullet-wrapper{
	position:absolute;
	z-index:2;
	bottom:0px;
	pointer-events: all;
}
.ac-carousel--bullet{
	background:#490F41;
	border-radius:100%;
	cursor:pointer;
	display:inline-block;
	transition:0.3s ease-in-out all;
}
.ac-carousel--arrow-left{
	position:absolute;
	left:0;
	opacity:0.5;
	color:#fff;
	cursor:pointer;
	display:block;
	text-align:center;
	pointer-events: all;
}
.ac-carousel--arrow-left:hover{
	opacity:0.9;
}
.ac-carousel--arrow-left:before{
	content: '\276e';
}
.ac-carousel--arrow-right{
	position:absolute;
	right:0;
	opacity:0.5;
	color:#fff;
	cursor:pointer;
	display:block;
	text-align:center;
	pointer-events: all;
}
.ac-carousel--arrow-right:hover{
	opacity:0.9;
}
.ac-carousel--arrow-right:before{
	content: '\276f';
}

/***AC-TEXTAREA***/
.ac-textarea .ac-error{
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    pointer-events: none;
    font-size: 61.8%;
    text-align: left;
    white-space: nowrap;
    color: #de4848;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}


/***AC-ANIMATE***/
@keyframes fade-in-from-bottom {
    from { top:73px; opacity:0; }
    to { top:0px; opacity:1; }
}
@keyframes fade-in-from-top {
    from { top:-73px; opacity:0; }
    to { top:0px; opacity:1; }
}
@keyframes fade-in-from-left {
    from { left:73px; opacity:0; }
    to { left:0px; opacity:1; }
}
@keyframes fade-in-from-right {
    from { right:73px; opacity:0; }
    to { right:0px; opacity:1; }
}
@keyframes heart-beat {
    0% { transform:scale(0); }
	61.8% { transform:scale(1.13); }
    100% { transform:scale(1); }
}
@keyframes gravity {
    from { left:-23px; top:-23px; opacity:0; transform:scale(0.7); transform:rotate(-23deg); }
    to { left:0px; opacity:1; top:0px; transform:rotate(0deg); scale:1; }
}


