<div class = 'calendar-wrapper'>
	<ng-transclude></ng-transclude>
	<!--BARRA DE HERRAMIENTAS-->
	<table class = 'calendar-toolbar'>
		<tr>
			<td class = 'today-button-wrapper'>
				<a class = 'today-button' ng-click = 'calendar.today()'>HOY</a>
			</td> 
			<td class = 'prev-button-wrapper'>
				<a ng-click = 'calendar.prev()'> &#9664; </a>
			</td>
			<td class = 'next-button-wrapper'>
				<a ng-click = 'calendar.next()'> &#9654; </a>
			</td> 
			<td class = 'from-to-wrapper'>
				<b> {{calendar.from | date:'dd/MM/yyyy'}} - {{calendar.to | date:'dd/MM/yyyy'}} </b>
			</td>
			<td></td>
			<td class = 'monthly-button-wrapper'>
				<a ng-click='calendar.schedule = "monthly"'>Mes</a>
			</td>
			<td class = 'weekly-button-wrapper'>
				<a ng-click='calendar.schedule = "weekly"'>Semana</a>
			</td>
			<td class = 'daily-button-wrapper'>
				<a ng-click='calendar.schedule = "daily"'>Día</a>
			</td>
		</tr>
	</table>
	
	<!--CABECERA CON NOMBRES DE LOS DÍAS DE LA SEMANA-->
	<table class = 'calendar-title'>
		<thead>
			<tr>
				<th class = 'weekday-title-wrapper'></th>
				<th class = 'weekday-title-wrapper' ng-repeat = 'day in calendar.weekdays'>{{ day | date:"EEEE" }}</th>
				<th style = 'width:17px'></th>
			</tr>
		</thead>
	</table>
	<div class = 'calendar-body-wrapper'>
		<table class = 'calendar-body'>
			<!--MES-->
			<tbody ng-if = 'calendar.schedule == "monthly"' class = 'calendar-content'>
				<tr ng-repeat = 'week in calendar.weeks'>
					<th>
						<span class = 'week-number-wrapper'>{{week.weekNumber}}</span>
						<span class = 'week-description-wrapper'>{{week.weekdays[0] | date: 'dd/MM'}} - {{week.weekdays[6] | date: 'dd/MM'}}</span>
					</th>
					<td class = 'cell-wrapper' ng-repeat = 'day in week.weekdays' ng-controller = 'cell as cell' ng-init = 'cell.init(day)'>
						<div class = 'event-wrapper'></div>
						<span class = 'month-day-wrapper'>{{cell.date | date:"dd"}}</span>
					</td>
				</tr>
			</tbody>
			
			<!--SEMANA-->
			<tbody ng-if = 'calendar.schedule == "weekly"'>
				<tr>
					<th>TODO EL DÍA</th>
					<td ng-repeat = 'day in calendar.weekdays' ng-controller = 'cell as cell' ng-init = 'cell.init(day)'>
						<div class = 'cell-wrapper'></div>
					</td>
				</tr>
			
				<tr ng-repeat = 'hour in calendar.hours'>
					<th>{{hour | date:"HH:mm"}}</th>
					<td class = 'cell-wrapper' ng-repeat = 'day in calendar.weekdays' ng-controller = 'cell as cell' ng-init = 'cell.init(day, hour)'>
						<div class = 'event-wrapper'></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!--DÍA-->
	<!--
	<table class = 'calendar-content'>
		<tr ng-repeat = 'week in calendar.weeks'>
			<th>
				{{week.weekdays[0] | date: 'dd MMM'}}
				<br>
				{{week.weekdays[6] | date: 'dd MMM'}}
			</th>
			<td ng-repeat = 'day in week.weekdays track by $index' ng-controller = 'cell as cell' ng-init = 'cell.init(day)'></td>
		</tr>
	</table>
	-->
</div>